body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc;
  font-size: 18px;
}

.main-wrapper,
.header-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 1366px;
  margin: 0 auto;
}
